:root {
  --amarillo: #DACD12;
  --morado: #4B25C9;
  --gris-oscuro: #2D2D2D;
  --gris-claro: #E3E2E2;
  --gris-fondo: #929292;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  background-color: var(--gris-oscuro);
  padding: 0 1rem;
}

/** ICONO ** NAV **/

.nav-icon {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
}

.div-logo {
  height: 80px;
  width: 80px;
}

.tinta {
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,var(--morado) 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,var(--morado) 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,var(--morado) 80%),
    var(--gris-claro);
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:p9 4s infinite linear;
}

@keyframes p9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%
  }

  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%
  }

  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%
  }
}


/** FIN ** ICONO ** TARTA ** NAV **/

/** CONTENIDO NAVBAR **/
.content-link {
  color: var(--gris-claro);
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.3rem;
  font-size: x-large;
}

/** efecto ** hover ** menu **/
.content-link:hover {
  transition: 0.6s;
  color: #d8e2dc;
  font-size: xx-large;
}

.nav-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/** DISEÑO RESPONSIVE **/
@media (max-width: 900px) {

.navbar{
  flex-direction: column;
  height: 25rem;
  justify-content: space-around;
}

   .nav-content {
    display: flex;
    flex-direction: column;
    top: 5rem;
    left: 0;
    padding: 1rem;
    text-align: center;

  }
    .content-link {
    margin-bottom: 1rem;
  }

}

/** FIN RESPONSIVE **/
